/*logo图标颜色*/
.md-header__button.md-logo,
.md-nav__button.md-logo {
    color: #f59e0b;
}

/*repo图标颜色*/
.md-header__source .md-source__icon,
.md-nav__source .md-source__icon {
    color: #8b5cf6;
}

/*文档icon颜色*/
.md-nav__link[href*="/git/"] svg {
    color: #bd09cb;
}